.App {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}

form {
  padding: 10px;
  text-align: center;
}

label {
  display: block;
  margin: 0 0 10px 0;
  width: 100%;
}

input {
  display: block;
  max-width: 100%;
  width: 500px;
  margin: 0 auto 10px auto;
  padding: 5px 10px;
  outline: none;
  border: 1px solid black;
}

input[type="submit"] {
  outline: none;
  width: 500px;
  border: 1px solid black;
  text-transform: uppercase;
  background-color: white;
  font-size: 3em;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 3em;
}
